language: java

sudo: required

jdk:
  - oraclejdk8
  - oraclejdk7

install: true

script:
  - sudo apt-get update && sudo apt-get install oracle-java8-installer
  - java -version

notifications:
  email:
    on_success: never
	   on_failure: always

